<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogpost</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/styles/navbar-footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/article.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="navbar::navbar"></div>
    <!-- Show Blogtext -->
    <main>
        <div class="container">
            <div class="article-container" th:object="${message}">
                <h2 th:text="*{title}"></h2>
                <div class="date">
                    <a th:href="@{/profile/{username}(username=${message.user.username})}">
                        <strong th:text="${message.getUser().getUsername()}"></strong>
                    </a>
                    <strong th:text="${#dates.format(message.postedAt,'dd.MM.yyyy HH:mm')}"></strong>
                </div>
                <p th:text="${message.content}"></p>
                <form th:if="${sessionUser!= null}" th:action="@{/messageUpdate/{messageId}(messageId=${message.id})}">
                    <button th:if="${sessionUser.getRole().equals('admin')}" type="submit">edit</button>
                </form>
            </div>
            <!-- add new Comments -->
            <div class="comment-container">
                <div class="add-comment" th:if="${sessionUser != null}">
                    <form th:object="${comment}" action="#" th:action="@{/article/{messageId} (messageId=${message.getId()})}"
                          method="post">
                        <label>add a new comment:
                            <textarea cols="30" rows="4" class="comment-field" type="text" th:field="*{commentText}"></textarea>
                        </label>
                        <input type="submit" value="post comment">
                    </form>
                </div>
                <!-- Show Comments -->
                <div class="show-comment" th:object="${comments}" th:each="comment : ${comments}">
                    <strong class="comment-user-date">
                        <span th:text="${comment.getUser().username}"></span>
                        <a th:text="${#dates.format(comment.postedAt,'dd.MM.yyyy HH:mm')}"></a>
                    </strong>
                    <a th:text="${comment.getComment()}"></a>

                    <div th:if="${sessionUser != null}">
                        <form th:if="${comment.user.getId() == sessionUser.id && !sessionUser.getRole().equals('admin')}"
                              method="post"
                              th:action="@{/deleteComment(commentId=${comment.getId()}, messageId=${message.getId()})}">
                            <button type="submit">Delete</button>
                        </form>
                    </div>

                    <div th:if="${sessionUser != null}">
                        <form th:if="${sessionUser.getRole().equals('admin')}" method="post"
                              th:action="@{/deleteComment(commentId=${comment.getId()}, messageId=${message.getId()})}">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer -->
    <div th:replace="footer::footer"></div>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>
