<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author-List</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/styles/navbar-footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/author-list.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navbar -->
    <div th:replace="navbar::navbar"></div>
    <main>
        <div class="container">
            <h2>registered User</h2>
            <img th:src="@{img/changeToAdmin.svg}" src="" alt="an image that shows the admin changing roles of users to make them admins too">
            <h4>list of all registered users:</h4>
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="registeredUser:${registeredUsers}">
                    <td><span th:text="${registeredUser.getUsername()}"></span></td>
                    <td>
                        <form th:action="@{/changeToAdmin/{userId}(userId = ${registeredUser.getId()})}" method="post">
                            <button type="submit">change role to admin</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <!-- footer -->
    <div th:replace="footer::footer"></div>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>