<!-- footer -->
<div  th:fragment="footer">
    <footer>
        <p>Created by: <a href="https://gitlab.com/ASchiebel">Anja S.</a>,<a href="https://gitlab.com/os-rooney">Rooney O.</a></p>
    </footer>
</div>