<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie Blog</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{styles/navbar-footer.css}"/>
    <link rel="stylesheet" th:href="@{styles/home.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navbar -->
    <div th:replace="navbar::navbar"></div>
    <main>
        <h2 class="welcome-headline" th:text="${'Techie blog'}" th:if="${sessionUser == null}"></h2>
        <h2 class="welcome-text" th:text="${'is an ambitious multimedia effort founded three days ago to examine how technology will change life in the future'}" th:if="${sessionUser == null}"></h2>
        <h2 class="welcome-reg" th:text="${'Welcome, ' + sessionUser.username}" th:if="${sessionUser != null}"></h2>

        <div class="svg">
            <img th:src="@{/img/techieblog.svg}" src="" alt="a svg pic with a women holding a cup of coffee and checks out the techie blog"/>
        </div>

        <!-- write a new article section -->
        <div th:if="${sessionUser != null && sessionUser.getRole().equals('admin')}" class="new-article">
            <p>Share your thoughts and knowledge with the world:</p>
            <a class="new-article-btn" th:href="@{/message}" th:if="${sessionUser.getRole().equals('admin')}">write a new article</a>
        </div>
        <!-- show latest articles section -->
        <h2 class="latest-article">Latest articles:</h2>
        <div class="container">
            <article th:each="message: ${messages}">
                <a class="article-title" th:href="@{/article/{messageID}(messageID=${message.getId()})}">
                    <h3 th:text="${message.title}"></h3>
                </a>
                <div class="author-date">
                    <img class="robot" th:src="@{img/robot.svg}" src="" alt="user avatar">
                    <a class="article-author" th:href="@{/profile/{username}(username=${message.user.username})}">
                        <strong th:text="${message.user.username}"></strong>
                    </a>
                    <a class="article-date" th:href="@{/profile/{username}(username=${message.user.username})}">
                        <span th:text="${#dates.format(message.postedAt,'dd.MM.yyyy HH:mm')}"></span>
                    </a>
                </div>
                <span class="article-description" th:text="${message.description}"></span>
            </article>
        </div>
    </main>
    <!-- footer -->
    <div th:replace="footer::footer"></div>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{js/app.js}"></script>
</body>
</html>