<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{styles/navbar-footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/login.css}"/>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="navbar::navbar"></div>
    <!-- Content-->
    <main>
        <div class="container">
            <form th:action="@{/login}" th:object="${login}" method="post">
                <h2 class="login">Login</h2>
                <div class="form-content">
                    <label>Username:
                        <input type="text" th:field="*{username}">
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </label>
                    <label>Passwort:
                        <input type="password" th:field="*{password}">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </label>
                    <button class="login-button" type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>
    <!-- footer -->
    <div th:replace="footer::footer"></div>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>