<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nachricht schreiben</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/styles/navbar-footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/message.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navbar -->
    <div th:replace="navbar::navbar"></div>
    <main>
        <!-- update article -->
        <div th:if="${message != null}">
            <div class="container">
                <h1>Update article</h1>
                <form th:action="@{/message/{id}(id=${message.getId()})}" th:object="${message}" method="post">
                    <label>Title:
                        <input th:field="*{title}">
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                    </label>
                    <label>Description:
                        <input th:field="*{description}">
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    </label>
                    <label>Content:
                        <textarea class="textarea" th:field="*{content}"></textarea>
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                    </label>
                    <br>
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
        <!-- add article -->
        <div th:if="${messageDTO != null}">
            <div class="container">
                <h1>Write a new article</h1>
                <form th:action="@{/message}" th:object="${messageDTO}" method="post">
                    <label>Title:
                        <input th:field="*{title}">
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                    </label>
                    <label>Description:
                        <input th:field="*{description}">
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    </label>
                    <label>Content:
                        <textarea th:field="*{content}"></textarea>
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                    </label>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>

    </main>
    <!-- footer -->
    <div th:replace="footer::footer"></div>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>