<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/styles/navbar-footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/profile.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navbar -->
    <div th:replace="navbar::navbar"></div>
    <main>
        <div class="container">
            <h1>All articles of <span th:text="${user.username}"></span></h1>
            <div class="articles">
                <div class="article" th:each="message: ${messages}">
                    <a th:href="@{/article/{messageID}(messageID=${message.getId()})}" class="article-title"  th:text="${message.title}"></a>
                    <span class="article-date" th:text="${#dates.format(message.postedAt,'dd.MM.yyyy HH:mm')}"></span>
                    <span class="article-description" th:text="${message.description}"></span>
                    <form th:if="${user == sessionUser}" method="post" th:action="@{/messageDelete(messageId=${message.id})}">
                        <button class="delete-button" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- footer -->
    <div th:replace="footer::footer"></div>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>