main{
    min-height: calc(100vh - 5vh);
}
.container{
    padding-top: 8vh;
    width: 90%;
    margin: 0 auto;
}

.container img{
    margin: 2rem auto;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.container h4{
    text-decoration: underline;
}
table{
    width: 100%;
    margin: 1rem auto 2rem auto;
}
table thead tr th{
    padding: .625rem;
}
table tbody tr td{
    text-align: center;
    padding: .625rem;
}
table tbody tr:nth-child(odd){
    background-color: #B1D0E0;
    color: #142850;
}
table tbody tr:nth-child(even){
    background-color: #43b4bf;
    color: #142850;
}
table tbody tr td button{
    color: #142850;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    font-weight: bold;
}
/* min-width 1024px */
@media screen and (min-width: 62em){
    .container{
        max-width: 62em;
        margin: 0 auto;
    }
    .container h2{
        text-align: center;
        margin: 2rem auto;
    }
    .container img{
        width: 15rem;
    }
    .container h4{
        text-align: center;
        margin: 2rem auto 1rem auto;
    }
    .container table{
        max-width: 75%;
    }
}