/* Hero Section */
main{
    min-height: 88vh;
    padding-top: 8vh;
}

.welcome-headline{
    font-size: 1.4rem;
    padding: 1.225rem 1rem 0 1rem;
    color: #DAE1E7;
}
.welcome-text{
    font-size: 1rem;
    padding: 0 1rem 2rem 1rem;
}
.welcome-reg{
    font-size: 1.4rem;
    padding: 1.225rem 1rem 2rem 1rem;
}
.latest-article{
    text-align: center;
    padding-bottom: 1rem;
}
.svg{
    width: 100%;
    margin-bottom: 1rem;
}
.svg img{
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    filter: drop-shadow(.5rem .1rem .3rem #B1D0E0);
}
/* new article section */
.new-article{
    width: 20rem;
    margin: 2rem auto;
    padding-top: 1rem;
}
.new-article p{

}
.new-article a{
    margin: .625rem 0;
    display: inline-block;
    background-color: #DAE1E7;
    color: #142850;
    padding: .625rem;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: .1rem .1rem .2rem #B1D0E0;
}
/* Articles Styles */
.container h2{
    padding: 2rem 0 1rem 2rem;
}
main article{
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #00909E;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    color: #DAE1E7;
}
.welcome-headline{
    font-size: 2rem;
}

.welcome-reg{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.article-title {
    color: #142850;
    font-size: 1.125rem;
    cursor: pointer;
}
.article-title h3{
    padding-bottom: .425rem;
}
.author-date{
    margin-bottom: 1rem;
}
.article-date{
    color: #142850;
    font-weight: lighter;
    text-decoration: none;
}
.article-author{
    color: #142850;
    cursor: pointer;
}
.robot{
    display: inline-block;
    width: 1.625rem;
    margin-right: -.2rem;
}
/* Tablet - min-width: 768px */
@media screen and (min-width: 48em){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main h2{
        width: 70%;
        text-align: center;
    }
    main h2:first-child{
        padding-bottom: 1rem;
    }
    .welcome-text{
        width: 40%;
    }
    .svg{
        max-width: 25rem;
    }
}
/* min-width: 1024px */
@media screen and (min-width: 62em){


    .svg{
        max-width: 30rem;
    }
    .latest-article{
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
    .new-article .new-article-btn{
        position: relative;
        width: 100%;
        text-align: center;
        margin: 1rem auto;
    }
    .container{
        width: 62em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
}