main{
    min-height: calc(100vh - 5vh);
}
.container{
    padding: 8vh 1rem 1rem 1rem;
}
.container form{
    padding: 1rem;
    margin-top: 1rem;
    background-color: #00909E;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    position: relative;
}
.container form label:not(:first-child){
    display: block;
    margin-top: 1.625rem;
}
.container form input, .container form textarea{
    border: none;
    background-color: transparent;
    border-bottom: .1rem solid #B1D0E0;
    width: 100%;
    padding-top: 1rem;
    font-size: 1rem;
    color: #B1D0E0;
    height: 2rem;
}
.container form input[type="text"]:focus{
    outline: none;
    caret-color: #B1D0E0;
    color: #B1D0E0;
}
.container form button{
    outline: none;
    border: none;
    background-color: #B1D0E0;
    color: #142850;
    padding: .625rem 1rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    margin: 1rem 0;
    position: relative;
    left: 80%;
}

/* min-width: 768px */
@media screen and (min-width: 48em){
    .container{
        max-width: 65%;
        margin: 0 auto;
    }
    .container h1{
        margin-top: 3rem;
    }
}
/* min-width: 1024px */
@media screen and (min-width: 64em){
    .container form button{
        left: 85%;
    }
    .container h1{
        margin-top: 3rem;
    }

}