main{
    min-height: calc(100vh - 5vh);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}
form{
    text-align: left;
}
form h1{
    margin-bottom: 1rem;
}
form label{
    display: block;
    margin-bottom: 1rem;
}
form label:not(:first-child){
    padding-top: 1.625rem;
}
.form-content {
    background-color: #00909E;
    padding: 1rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
}
.form-content input{
    border: none;
    background-color: transparent;
    border-bottom: .1rem solid #B1D0E0;
    width: 100%;
    padding-top: 1rem;
    font-size: 1rem;
    color: #B1D0E0;
}
.form-content input[type="text"]:focus,.form-content input[type="password"]:focus {
    outline: none;
    border: none;
    border-bottom: .1rem solid #B1D0E0;
    caret-color: #B1D0E0;
    color: #B1D0E0;
}
.form-content p{
    color: darkred;
    padding-top: 1rem;
}

.form-content button{
    outline: none;
    border: none;
    background-color: #B1D0E0;
    color: #142850;
    padding: .625rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    margin: 1rem 0;
}
.form-content button:hover{
    transform: scale(1.1);
}
/* Tablet - min-width: 768px */
@media screen and (min-width: 48em){
    main{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .container{
        margin-top: 4rem;
    }
}